<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Ghost Cities - Mambo</title>
<meta name="title" content="Ghost Cities" />
<meta name="author" content="" />
<meta name="description" content="Mambo - the dynamic portal engine and content management system" />
<meta name="keywords" content="mambo, Mambo, Mambo, Mambo" />
<base href="" />
		<link rel="shortcut icon" href="../../../../images/favicon.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../../../templates/jh_isea/css/template_css.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<table width="825" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td width="258"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/topLeft.gif" alt="Top" width="223" height="261" /></td>
      </tr>
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/menuTop.gif" width="223" height="19" /></td>
      </tr>
      <tr>
        <td valign="top" style="padding-left: 37px"><table width="160" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" style="padding-left: 0px; padding-top: 0px;" background="../../../../templates/jh_isea/images/menuback1px.gif">			<table cellpadding="0" cellspacing="0" class="moduletable">
						<tr>
				<td>
				
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr align="left"><td><a href="../../../../mos/Frontpage/index.html" class="mainlevel" >Highlights</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/121/130/index.html" class="mainlevel" >Tickets</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/8/47/index.html" class="mainlevel" >Schedules</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/122/131/index.html" class="mainlevel" >Festival + Symposium Blog</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/13/102/index.html" class="mainlevel" >ISEA2006 Symposium</a>

<div style="padding-left: 4px"><a href="../../../blogcategory/105/30/index.html" class="sublevel" >Themes</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/135/144/index.html" class="sublevel" >Papers + Panels</a>

<div style="padding-left: 8px"><a href="../../../blogcategory/140/150/index.html" class="sublevel" >Current Discussions</a></div>
<div style="padding-left: 8px"><a href="../../../blogcategory/141/152/index.html" class="sublevel" id="active_menu">Interactive City Papers</a></div>
<div style="padding-left: 8px"><a href="../../../blogcategory/142/153/index.html" class="sublevel" >Transvergence Papers</a></div>
<div style="padding-left: 8px"><a href="../../../blogcategory/143/154/index.html" class="sublevel" >Community Domain Papers</a></div>
<div style="padding-left: 8px"><a href="../../../blogcategory/145/151/index.html" class="sublevel" >Pacific Rim Papers</a></div>
<div style="padding-left: 8px"><a href="../../../blogcategory/192/211/index.html" class="sublevel" >Panels</a></div>
</div>
<div style="padding-left: 4px"><a href="../../../blogcategory/165/175/index.html" class="sublevel" >Moderator Bios</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/136/145/index.html" class="sublevel" >Poster Sessions</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/137/146/index.html" class="sublevel" >Artist Presentations</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/157/170/index.html" class="sublevel" >Symposium Schedule</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/182/199/index.html" class="sublevel" >ISEA re:mote</a></div>
<div style="padding-left: 4px"><a href="../../../../component/option,com_simpleboard/index.html" class="sublevel" >Online Forum, April 24 - May 29</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/158/177/index.html" class="sublevel" >Publications</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/193/210/index.html" class="sublevel" >Keynotes</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/194/209/index.html" class="sublevel" >Rapporteur</a></div>
</td></tr>
<tr align="left"><td><a href="../../../blogcategory/107/133/index.html" class="mainlevel" >ZeroOne San Jose Festival</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/10/52/index.html" class="mainlevel" >Events</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/111/121/index.html" class="mainlevel" >Exhibitions</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/14/49/index.html" class="mainlevel" >Artworks</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/13/48/index.html" class="mainlevel" >Artists</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/86/112/index.html" class="mainlevel" >Education</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/95/134/index.html" class="mainlevel" >Summits</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/160/index.html" class="mainlevel" >Workshops + Tours</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/147/189/index.html" class="mainlevel" >Travel</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/188/index.html" class="mainlevel" >Hotels</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/92/190/index.html" class="mainlevel" >Maps</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/65/index.html" class="mainlevel" >Sponsors</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/82/158/index.html" class="mainlevel" >Press Center</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/134/143/index.html" class="mainlevel" >Contact Us</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/156/169/index.html" class="mainlevel" >Volunteer</a></td></tr>
<tr align="left"><td><a href="../../../../component/option,com_search/index.html" class="mainlevel" >Search</a></td></tr>
</table>				</td>
			</tr>
			</table>
			</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/menuBottom.gif" width="223" height="138" /></td>
      </tr>
    </table>
  </td>
    <td width="567"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
         <td valign="top">			<table cellpadding="0" cellspacing="0" class="moduletable-none">
							<tr>
					<td>
					<img width="647" height="261" border="0" alt="ZeroOne San Jose / ISEA2006 ISEA2006 symposium" src="../../../../images/stories/symposiumHeaderNEW.gif" />					</td>
				</tr>
						</table>
		</td>
      </tr>
      <tr>
        <td height="889" valign="top" style="background: url(http://isea2006.sjsu.edu/templates/jh_isea/images/textBack.gif) repeat-y;padding-top: 45px;"><table width="520" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top">			<table class="contentpaneopen">
			<tr>
								<td class="contentheading" width="100%">
				Ghost Cities								</td>
							<td align="right" class="buttonheading">
			<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;do_pdf=1&amp;id=554', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');" title="PDF">
			<img src="../../../../templates/jh_isea/images/pdf_button.png" alt="PDF" align="middle" name="image" border="0" />			</a>
			</td>
							<td align="right" class="buttonheading">
				<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;task=view&amp;id=554&amp;Itemid=152&amp;pop=1&amp;page=0', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');" title="Print">
				<img src="../../../../templates/jh_isea/images/printButton.png" alt="Print" align="middle" name="image" border="0" />				</a>
				</td>
							<td align="right" class="buttonheading">
			<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;task=emailform&amp;id=554', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=400,height=250,directories=no,location=no');" title="E-mail">
			<img src="../../../../templates/jh_isea/images/emailButton.png" alt="E-mail" align="middle" name="image" border="0" />			</a>
			</td>
						</tr>
			</table>
			
		<table class="contentpaneopen">
					<tr>
				<td>
						<span>
			<a href="../../../category/4/137/152/index.html">Artist Presentations</a>			</span>
							</td>
			</tr>
					<tr>
				<td valign="top" colspan="2" class="createdate">
				Aug 04, 2006 at 12:00 AM				</td>
			</tr>
					<tr>
			<td valign="top" colspan="2">
			<h2><a target="_self" class="headlineLink" href="../../979/48/index.html">Jody Zellen</a>  </h2>   <p>Jody Zellen will present her recent interactive installations. In her work she explores architectural spaces as well as digital spaces, making projects that are both site specific and unexpected. Her works mirror the experience of navigating a charged metropolitan area. Through a bombardment of disparate images her pieces celebrate the complexity and unpredictability of urban space. A walk through the city becomes a vehicle for a meditation on space, time, and human interaction. Interested in the patterns, structure and design of the urban environment, rather than document the cities she sees, she employs media-generated representations of contemporary and historic cities as raw material for aesthetic and social explorations. </p>			</td>
		</tr>
					<tr>
				<td colspan="2" align="left" class="modifydate">
				Last Updated ( Aug 04, 2006 at 11:24 PM )
				</td>
			</tr>
					</table>
				<table align="center" style="margin-top: 25px;">
		<tr>
							<th class="pagenav_prev">
				<a href="../../535/152/index.html">
				&lt;Previous				</a>
				</th>
								<td width="50px">&nbsp;

				</td>
								<th class="pagenav_next">
				<a href="../../553/152/index.html">
				Next&gt;
				</a>
				</th>
						</tr>
		</table>
		</td>
          </tr>
          <tr>
            <td valign="top">              </td>
          </tr>
          <tr>
            <td valign="top"></td>
          </tr>
        </table></td>
      </tr>
    </table>   
    </td>
  </tr>
</table>
<table width="870" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td height="25">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right"><img src="../../../../templates/jh_isea/images/pigeondome.gif" width="242" height="176" /></div></td>
  </tr>
</table>
</body>
</html><!-- 1343872242 -->