<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Skatesonic - Mambo</title>
<meta name="title" content="Skatesonic" />
<meta name="author" content="Steve Dietz" />
<meta name="description" content="Mambo - the dynamic portal engine and content management system" />
<meta name="keywords" content="mambo, Mambo, Mambo, Mambo" />
<base href="" />
		<link rel="shortcut icon" href="../../../../images/favicon.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../../../templates/jh_isea/css/template_css.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<table width="825" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td width="258"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/topLeft.gif" alt="Top" width="223" height="261" /></td>
      </tr>
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/menuTop.gif" width="223" height="19" /></td>
      </tr>
      <tr>
        <td valign="top" style="padding-left: 37px"><table width="160" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" style="padding-left: 0px; padding-top: 0px;" background="../../../../templates/jh_isea/images/menuback1px.gif">			<table cellpadding="0" cellspacing="0" class="moduletable">
						<tr>
				<td>
				
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr align="left"><td><a href="../../../../mos/Frontpage/index.html" class="mainlevel" >Highlights</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/121/130/index.html" class="mainlevel" >Tickets</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/8/47/index.html" class="mainlevel" >Schedules</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/122/131/index.html" class="mainlevel" >Festival + Symposium Blog</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/13/102/index.html" class="mainlevel" >ISEA2006 Symposium</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/107/133/index.html" class="mainlevel" >ZeroOne San Jose Festival</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/10/52/index.html" class="mainlevel" >Events</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/111/121/index.html" class="mainlevel" >Exhibitions</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/14/49/index.html" class="mainlevel" >Artworks</a>

<div style="padding-left: 4px"><a href="../../../blogcategory/62/81/index.html" class="sublevel" >Interactive City</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/63/85/index.html" class="sublevel" id="active_menu">Community Domain</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/0/82/index.html" class="sublevel" >Pacific Rim artworks</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/65/84/index.html" class="sublevel" >Transvergence</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/66/126/index.html" class="sublevel" >Edgy Products</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/84/101/index.html" class="sublevel" >C4F3</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/126/135/index.html" class="sublevel" >Residencies</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/96/138/index.html" class="sublevel" >Invited Artworks</a></div>
</td></tr>
<tr align="left"><td><a href="../../../blogsection/13/48/index.html" class="mainlevel" >Artists</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/86/112/index.html" class="mainlevel" >Education</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/95/134/index.html" class="mainlevel" >Summits</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/160/index.html" class="mainlevel" >Workshops + Tours</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/147/189/index.html" class="mainlevel" >Travel</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/188/index.html" class="mainlevel" >Hotels</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/92/190/index.html" class="mainlevel" >Maps</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/65/index.html" class="mainlevel" >Sponsors</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/82/158/index.html" class="mainlevel" >Press Center</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/134/143/index.html" class="mainlevel" >Contact Us</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/156/169/index.html" class="mainlevel" >Volunteer</a></td></tr>
<tr align="left"><td><a href="../../../../component/option,com_search/index.html" class="mainlevel" >Search</a></td></tr>
</table>				</td>
			</tr>
			</table>
			</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/menuBottom.gif" width="223" height="138" /></td>
      </tr>
    </table>
  </td>
    <td width="567"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
         <td valign="top">			<table cellpadding="0" cellspacing="0" class="moduletable-none">
							<tr>
					<td>
					<img width="647" height="261" border="0" alt="ZeroOne San Jose / ISEA2006 artworks" src="../../../../images/stories/artworks1HeaderNEW.jpg" />					</td>
				</tr>
						</table>
		</td>
      </tr>
      <tr>
        <td height="889" valign="top" style="background: url(http://isea2006.sjsu.edu/templates/jh_isea/images/textBack.gif) repeat-y;padding-top: 45px;"><table width="520" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top">			<table class="contentpaneopen">
			<tr>
								<td class="contentheading" width="100%">
				Skatesonic								</td>
							<td align="right" class="buttonheading">
			<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;do_pdf=1&amp;id=461', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');" title="PDF">
			<img src="../../../../templates/jh_isea/images/pdf_button.png" alt="PDF" align="middle" name="image" border="0" />			</a>
			</td>
							<td align="right" class="buttonheading">
				<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;task=view&amp;id=461&amp;Itemid=85&amp;pop=1&amp;page=0', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');" title="Print">
				<img src="../../../../templates/jh_isea/images/printButton.png" alt="Print" align="middle" name="image" border="0" />				</a>
				</td>
							<td align="right" class="buttonheading">
			<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;task=emailform&amp;id=461', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=400,height=250,directories=no,location=no');" title="E-mail">
			<img src="../../../../templates/jh_isea/images/emailButton.png" alt="E-mail" align="middle" name="image" border="0" />			</a>
			</td>
						</tr>
			</table>
			
		<table class="contentpaneopen">
					<tr>
				<td>
						<span>
			<a href="../../../category/14/126/85/index.html">Residency artworks</a>			</span>
							</td>
			</tr>
				<tr>
			<td width="70%" align="left" valign="top" colspan="2">
			<span class="small">
			Written by Steve Dietz			</span>
			&nbsp;&nbsp;
			</td>
		</tr>
					<tr>
				<td valign="top" colspan="2" class="createdate">
				Mar 30, 2006 at 09:48 PM				</td>
			</tr>
					<tr>
			<td valign="top" colspan="2">
			<h2><a href="../../452/48/index.html" target="_blank" class="headlineLink">Cobi van Tonder</a></h2> 
<p>
 <a href="../../../../downloads/skatesonic_poster.pdf" target="_blank" class="headlineLink">Download Saktesonic Poster</a> 
</p>
 
<p>
<em>Skatesonic</em> is a commissioned residency project by <a href="../../189/133/index.html" target="_self" class="headlineLink">ZeroOne San Jose</a>, <a href="../../38/65/index.html" target="_self" class="headlineLink">IDEO</a>, and the <a href="../../34/66/index.html" target="_self" class="headlineLink"> The Sally and Don Lucas Artists Programs at the Montalvo Arts Center</a>. 
</p>
       
<h3>The Lickr</h3>  <img class="headlineLink" src="../../../../images/skatesonic2_250.jpg" border="0" alt="" hspace="3" vspace="10" width="250" height="181" align="left" /> 
<p>
 This uniquely augmented skateboard called _the Lickr_ is a new musical controller instrument/toy.  Equipped with a wireless microphone, battery pack, optical wheel rotation sensor,  2 proximity detectors, 3 gyro sensors and bluetooth transmission device, the system  tracks the 3D-movement of the skateboard.   
</p>
   
<p>
 Movement is analyzed and turned into musical fantasy. 
</p>
   
<p>
 The Lickr has its ear close to the ground.  It hears in audio and data.  The real audio from skateboard on surface is an integral part of the music - a fundamental layer of  the environment that enables a grounding.  This centrality (a memory) from which to depart, compare  through repetition, difference, layering, and erasure  A morphing from organic to synthetic. A pre-meditated musical architecture is created to allow boundaries within which to control the musical  outcome.  The music becomes a game and skaters can jam like a band. 
</p>
 
<h3>MUSICAL FORM AS SENSUOUS PHYSICALSPACE </h3>   
<p>
 Sound reveals space, be it physical, emotional, social or imaginary. Connecting the gestures of a physical reality with musical form and texture implies superimposing these two realities so that they fold back on themselves, thus creating a strange new space.   Skatesonic is a hyper-territorialization of skateboard-culture. Riding waves of chaotic timing, implying  temporary control of what is temporal. The composer creates a system to be experienced rather than a final  piece of music. 
</p>
  
<p>
 <img class="borderedimage" src="../../../../images/skatesonic_400.jpg" border="0" alt="" hspace="3" vspace="10" width="400" height="191" /> 
</p>
  
<p>
 The architect&rsquo;s idea (extending concept into ramp/space design): Accessing the idea of displaced curves that create a linear path through but also cross-paths that have different  speeds, literally as if each cross-section is a gate to another dimension where you can loose yourself, playing in a different dimension than the linear path and go back again.  A disturbance of the ground, that allows you to experience both a skeleton - divisions, modules - and continuity between the whole and the ground - different speeds, skate figures, 
</p>
   
<p>
 Each move translates into musical parameters and the rider ends up skating through a landscape of music  (which s/he influences over time). Physically, the skateboard is absorbed into the body  (similar to the way a music instrument becomes part of a musician), and allows a skateboarder to  use the architecture in a dynamic playful way. Every nook and cranny becomes a surface that is encountered in a  direct way similar to human touch on a musical instrument. 
</p>
  
<h3>URLs:</h3> 
<p>
 <a href="../../796/131/index.html" target="_self" class="headlineLink">Interview with Sylvie Parent</a><br />
<a href="http://www.otoplasma.com/skatesonic/" target="_blank" class="headlineLink">www.otoplasma.com/skatesonic/</a><br />
 <a href="http://www.eyebeam.org/reblog/archives/2006/04/skateboard_music_interface.html" target="_blank" class="headlineLink">http://www.eyebeam.org/reblog/archives/2006/04/skateboard_music_interface.html</a><br />
 <a href="http://www.turbulence.org/blog/archives/002350.html" target="_blank" class="headlineLink">http://www.turbulence.org/blog/archives/002350.html</a><br />
 <a href="http://www.we-make-money-not-art.com/archives/008375.php" target="_blank" class="headlineLink">http://www.we-make-money-not-art.com/archives/008375.php</a> 
</p>
  
			</td>
		</tr>
					<tr>
				<td colspan="2" align="left" class="modifydate">
				Last Updated ( Jul 15, 2008 at 05:14 PM )
				</td>
			</tr>
					</table>
				<table align="center" style="margin-top: 25px;">
		<tr>
							<th class="pagenav_prev">
				<a href="../../623/85/index.html">
				&lt;Previous				</a>
				</th>
						</tr>
		</table>
		</td>
          </tr>
          <tr>
            <td valign="top">              </td>
          </tr>
          <tr>
            <td valign="top"></td>
          </tr>
        </table></td>
      </tr>
    </table>   
    </td>
  </tr>
</table>
<table width="870" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td height="25">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right"><img src="../../../../templates/jh_isea/images/pigeondome.gif" width="242" height="176" /></div></td>
  </tr>
</table>
</body>
</html><!-- 1343872579 -->