<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Uncle Tasman: The Trembling Current that Scars the Earth - Mambo</title>
<meta name="title" content="Uncle Tasman: The Trembling Current that Scars the Earth" />
<meta name="author" content="Administrator" />
<meta name="description" content="Mambo - the dynamic portal engine and content management system" />
<meta name="keywords" content="mambo, Mambo, Mambo, Mambo" />
<base href="" />
		<link rel="shortcut icon" href="../../../../images/favicon.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../../../templates/jh_isea/css/template_css.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<table width="825" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td width="258"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/topLeft.gif" alt="Top" width="223" height="261" /></td>
      </tr>
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/menuTop.gif" width="223" height="19" /></td>
      </tr>
      <tr>
        <td valign="top" style="padding-left: 37px"><table width="160" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" style="padding-left: 0px; padding-top: 0px;" background="../../../../templates/jh_isea/images/menuback1px.gif">			<table cellpadding="0" cellspacing="0" class="moduletable">
						<tr>
				<td>
				
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr align="left"><td><a href="../../../../mos/Frontpage/index.html" class="mainlevel" >Highlights</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/121/130/index.html" class="mainlevel" >Tickets</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/8/47/index.html" class="mainlevel" >Schedules</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/122/131/index.html" class="mainlevel" >Festival + Symposium Blog</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/13/102/index.html" class="mainlevel" >ISEA2006 Symposium</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/107/133/index.html" class="mainlevel" >ZeroOne San Jose Festival</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/10/52/index.html" class="mainlevel" >Events</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/111/121/index.html" class="mainlevel" >Exhibitions</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/14/49/index.html" class="mainlevel" >Artworks</a>

<div style="padding-left: 4px"><a href="../../../blogcategory/62/81/index.html" class="sublevel" >Interactive City</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/63/85/index.html" class="sublevel" id="active_menu">Community Domain</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/0/82/index.html" class="sublevel" >Pacific Rim artworks</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/65/84/index.html" class="sublevel" >Transvergence</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/66/126/index.html" class="sublevel" >Edgy Products</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/84/101/index.html" class="sublevel" >C4F3</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/126/135/index.html" class="sublevel" >Residencies</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/96/138/index.html" class="sublevel" >Invited Artworks</a></div>
</td></tr>
<tr align="left"><td><a href="../../../blogsection/13/48/index.html" class="mainlevel" >Artists</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/86/112/index.html" class="mainlevel" >Education</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/95/134/index.html" class="mainlevel" >Summits</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/160/index.html" class="mainlevel" >Workshops + Tours</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/147/189/index.html" class="mainlevel" >Travel</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/188/index.html" class="mainlevel" >Hotels</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/92/190/index.html" class="mainlevel" >Maps</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/65/index.html" class="mainlevel" >Sponsors</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/82/158/index.html" class="mainlevel" >Press Center</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/134/143/index.html" class="mainlevel" >Contact Us</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/156/169/index.html" class="mainlevel" >Volunteer</a></td></tr>
<tr align="left"><td><a href="../../../../component/option,com_search/index.html" class="mainlevel" >Search</a></td></tr>
</table>				</td>
			</tr>
			</table>
			</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/menuBottom.gif" width="223" height="138" /></td>
      </tr>
    </table>
  </td>
    <td width="567"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
         <td valign="top">			<table cellpadding="0" cellspacing="0" class="moduletable-none">
							<tr>
					<td>
					<img width="647" height="261" border="0" alt="ZeroOne San Jose / ISEA2006 artworks" src="../../../../images/stories/artworks1HeaderNEW.jpg" />					</td>
				</tr>
						</table>
		</td>
      </tr>
      <tr>
        <td height="889" valign="top" style="background: url(http://isea2006.sjsu.edu/templates/jh_isea/images/textBack.gif) repeat-y;padding-top: 45px;"><table width="520" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top">			<table class="contentpaneopen">
			<tr>
								<td class="contentheading" width="100%">
				Uncle Tasman: The Trembling Current that Scars the Earth								</td>
							<td align="right" class="buttonheading">
			<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;do_pdf=1&amp;id=183', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');" title="PDF">
			<img src="../../../../templates/jh_isea/images/pdf_button.png" alt="PDF" align="middle" name="image" border="0" />			</a>
			</td>
							<td align="right" class="buttonheading">
				<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;task=view&amp;id=183&amp;Itemid=85&amp;pop=1&amp;page=0', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');" title="Print">
				<img src="../../../../templates/jh_isea/images/printButton.png" alt="Print" align="middle" name="image" border="0" />				</a>
				</td>
							<td align="right" class="buttonheading">
			<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;task=emailform&amp;id=183', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=400,height=250,directories=no,location=no');" title="E-mail">
			<img src="../../../../templates/jh_isea/images/emailButton.png" alt="E-mail" align="middle" name="image" border="0" />			</a>
			</td>
						</tr>
			</table>
			
		<table class="contentpaneopen">
					<tr>
				<td>
						<span>
			<a href="../../../category/14/64/85/index.html">Pacific Rim artworks</a>			</span>
							</td>
			</tr>
				<tr>
			<td width="70%" align="left" valign="top" colspan="2">
			<span class="small">
			Written by Administrator			</span>
			&nbsp;&nbsp;
			</td>
		</tr>
					<tr>
				<td valign="top" colspan="2" class="createdate">
				Feb 12, 2006 at 08:23 AM				</td>
			</tr>
					<tr>
			<td valign="top" colspan="2">
			<h2>Uncle Tasman<br />
The trembling current that scars the earth</h2>
<p>
<a href="../../233/48/index.html"><span class="valiotsikko">Natalie Robertson</span></a>&nbsp;<br />
&nbsp;<em>&ldquo;Whatu ngarongaro he tangata, toitu he whenua</em><br />
Yellow-grey fumaroles hiss steamily, venting their pleasure, a marine volcano island named Whakaari, flirting with her land born admirer, Putauaki.<br />
<br />
Tarawera is aghast when her man leaves her side and she bursts into tears, flowing and filling his footsteps as Putauaki heads towards the sea.<br />
<br />
Putauaki however is slowed by a young son, Ko Putauaki, pleading his destination &ndash; daylight breaks and the father is frozen in shame as the shadows chase from his midnight fantasy.<br />
<br />
Mountains move in Maori mythology, as they do in real life, falling seismically in love, having children, splitting up, running off with new lovers, falling silent and, sometimes, erupting volcanically.<br />
<br />
Natalie Robertson taps a stick into the ground, testing her way forward trying to find solid ground between pools of steaming hot water and sulphuric yellow crusts of earth.<br />
<br />
On lands bordering the ancient pa Waitahanui, Robertson sets up a camera.<br />
<br />
In front of her, the mountain and a paper mill worth $300 million a year in exports.
</p>
<p>
She begins recording.<br />
Mist and steam waft evocative. Power poles ghost into view, and out again; a shadowy mountain looms, ponders, and wafts away again, an extended moment captured for larger than life projection onto walls. <br />
<br />
Uncertainty, seemingly, whether mist is man or mystic made.<br />
<br />
Born at the foot of Putauaki maunga, Robertson has returned to film in her hometown Kawerau, using local knowledge to access the site, past the private property signs, down a gravel track, wending curvy parallel with the Tarawera River. <br />
<br />
Robertson records and ripples spread rapid across the surface of water, bigger than a pond, not really a lake. Behind Robertson, over a hill, blocked by card swipe access and guarded by security workers, lies what was once Lake Rotoitipaku, out of sight from public eyes. <br />
<br />
&ldquo;That&rsquo;s what I having been trying to tell you &ndash; Lake Rotoitipaku doesn&rsquo;t exist anymore. &rdquo;<br />
<br />
For generations a naturally heated &ldquo;food basket&rdquo; and geothermal &ldquo;spa pool&rdquo; for Ngati Tuwharetoa ki Kawerau, the lake is now full, dry and clogged with tens of thousands of truckloads of industrial sludge, a lake-no-more.<br />
<br />
More importantly, the dump is next to an urupa &ndash; a cemetery, a sacred site &ndash; and birthplace of renowned leader and paramount chief, Tuwharetoa. <br />
<br />
&ldquo;Without local knowledge, no one would even know this was once Lake Rotoitipaku,&rdquo; says Robertson, looking at satellite photos. There are bulldozer furrows, rugby fields long.<br />
<br />
New maps have already been printed giving a smaller, nearby lake the same name. Supposedly, this replaces the old name, Fox&rsquo;s Pond, a nickname applied by company officials and, apparently, picked up by cartographers.<br />
<br />
But, digging through documents in Kawerau, Robertson finds a map dating back to 1883, showing true location of the lake, along with stories of its bubbling mineral waters fat with eels, and water vegetables &ndash; kumara would grow in weeks rather than months.<br />
<br />
But, two maps? How can there be double truths, two lakes with the same name? <br />
<br />
In fact, there are many maps, indeed layers of maps. Historic maps, tablecloth maps, and souvenir map scarves. Robertson has made mapping systems a central theme within her artwork, photographing road signs, place names, weather elements and referencing Maori oral maps.<br />
<br />
Signposts of a new mapping system, an inferior two dimensional model compared with what Robertson prefers to describe as &ldquo;cosmology&rdquo; &ndash; a swirling universe that places the land central to Maori existence, calling to mind that the most important thing is not only people, people, people. <br />
<br />
It is also whenua, the land. <br />
Papatuanuku. Mother Earth.<br />
<br />
&ldquo;Whatu ngarongaro he tangata, toitu he whenua&rdquo; &ndash; People pass away, but the land remains.<br />
<br />
Three monitors greet visitors: one for each of the three mountains, Putauaki, Tarawera and Whakaari. A sulphuric fumerole hisses. A tauparapara, a chant begins, voice of elder Te Haukakawa Te Rire. A lament for lost lands and waterways echoes back. Robertson provides offstage commentary with a drive through Kawerau, recounting young lives lost to cancer, the names accumulating over the years. This one, then that one, encircling the town. <br />
<br />
As a photographer and now videographer, Robertson is not trying to capture and expose environmental abuses, but to record the few remnants remaining of what once was. <br />
<br />
Left unspoken is a warning that land remains volatile, volcanic spasms an intergenerational reality recorded by what some call Maori mythology.<br />
<br />
Like a three dimensional iMax of the mind, Maori mythology consists of a cosmos growing from countless centuries of Polynesian navigation, leading to landfall&nbsp; with star point accuracy. Mental maps do not stop at the beach, they help triangulate natural features like mountains, from different viewpoints, and in real-time as well, under mist or moon.<br />
<br />
Perhaps there were times earlier, when land was ample, people few, and feats like securing kumara from the Americas were commonplace. In Kawerau, those times are long gone and mists come complete with chlorine gas sirens.<br />
<br />
Researching, Robertson reviews more than 20 boxes of documents, gathered by multiple critics and challengers like Greenpeace, in stories of a paper mill that read like environmental Pulp Fiction. Bizarre characters, addiction to toxic substance abuse, random death. Some may remember Samuel L. Jackson psyching himself up for strife.<br />
<br />
&ldquo;&hellip; And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy my brothers&hellip;&rdquo;<br />
<br />
So far, however, evidence that proves poisoning remains buried in boxes, stymied by special dispensations, lax bureaucrats, and allegedly vested interests stretching back half a century. <br />
<br />
In 1954, Government passed the Tasman Pulp and Paper Company Enabling Act, allowing all effluent from the new Kawerau mill to be discharged into the Tarawera River. Parliamentary records, Hansard, show there was debate about effects on farmers downstream using the river for stock watering. But discharges were described by the government of the day as &ldquo;so slight as to be almost unnoticeable&rdquo;. <br />
<br />
Exemption of the company from prosecution or individual action for damages was regarded as necessary in case &ldquo;some crank gets a bee in his bonnet&rdquo; as any existing environmentalists were regarded in the post-war peace boom.<br />
<br />
One relatively minor example is asbestos &ndash; ripped out of the mill to protect the health of workers but then dumped on Maori lease lands.<br />
Someone else&rsquo;s problem.<br />
<br />
Not for &ldquo;Uncle&rdquo; Tasman, the nickname wry commentary about the town benefactor, provider of jobs and contracts, enough income to keep a town of about 8,000 going for half a century, enough power to ensure critics are blacklisted. <br />
<br />
Black also features in another local nickname &ndash; &ldquo;The Black Drain&rdquo; &ndash;colour of the last stretch of river below the mill to the sea.<br />
<br />
New roads were built to truck waste away from the mill, liquid waste poured down a spillway, solid waste dumped straight into Rotoitipaku.<br />
<br />
&ldquo;My cousins and I went to have a look at the spill way,&rdquo; recalls Wayne Peters in evidence to the Central North Island Inquiry at the Waitangi Tribunal in 2005.<br />
<br />
&ldquo;The sludge was slowly moving into the lake from the ngawha (hotpool) end. Little did we know this was the beginning of the end to our playground and foodbasket. Sadness filled our minds. Then anger took over, we knew what was happening was wrong. We lifted a big boulder from the side of the road and smashed the spillway. The workers fixed it up, and we smashed it again. <br />
<br />
&ldquo;In time we came to realise that Rotoitipaku was gone FOREVER,&rdquo; states Peters, the last word capitalised in submissions to the tribunal.<br />
<br />
In just three decades the lake is full, promises to keep water flowing to a depth of &ldquo;at least six inches&rdquo; long forgotten by Tasman.<br />
<br />
&ldquo;A visit to the area today leaves me wondering how anyone could take a piece of paradise and turn it into hell. There is a stench that carries across the river to the homes of my aunties and uncles in Onepu; Waitahanui is surrounded by sludge and a pond of black water,&rdquo; says Clem Park, a resident. He remembers swimming in Rotoitipaku as a child.<br />
<br />
&ldquo;Many times I asked Uncle Bunny why they allowed these things to happen. All he would say was they could do nothing.&rdquo; Fast forward to the government of today.<br />
<br />
Today an estimated 100,000 truckloads of &lsquo;solid&rsquo; industrial waste dumped into a lake that is no more, while there is enough annual liquid waste to rival the output of Auckland. <br />
<br />
Greenpeace reckons Kawerau, one of the largest geothermal fields in the country, is also one of the worst toxic areas in the country. People Poisoned Daily is the name of one Greenpeace campaign, with an online exhibit of people affected by milling.<br />
<br />
Tairua Whakaruru has been a health officer for Ngati Tuwharetoa over the last seven years. He sits outside the mainstream health service, reporting on years, decades of requests for comprehensive surveys of the Kawerau population and nearby environs.<br />
<br />
&ldquo;There have been no reports done on health in the area in regards to the Tarawera River or the discharge into the air and onto the land. All these issues are of valid concerns to the iwi along the river,&rdquo; the site quotes Tairua Whakaruru as saying.<br />
<br />
Greenpeace adds to his comment. &ldquo;Tairua would like to see Maori organisations do the health report on their own people who are effected by the discharge. This is also about the pain and effect this has had on the iwi and is still having.&rdquo;<br />
<br />
&ldquo;Many of the old people have gone to their graves fighting this issue.&rdquo;<br />
As Robertson finishes her artwork, the OECD issues a follow-up report to its original environmental review in 1997.<br />
<br />
&ldquo;The whole area of waste management does not seem to be a priority for the Government,&rdquo; states the OECD as part of its peer review process, in this case for the environment. <br />
<br />
&ldquo;As a result, waste issues are poorly analysed and, in many cases, disregarded,&rdquo; reads the report. Thirty different first world countries sat on the review panel.<br />
<br />
Back in Kawerau, ghosts of Lake Rotoitipaku stir.<br />
<br />
A lifetime away from naming and shaming at the geopolitical level, Wayne Peters eye witnessed nature reacting to Uncle Tasman&rsquo;s toxic love: &ldquo;I can still remember the tuna (eel) on the road at Rotoroa trying to escape the paru (sludge) &ndash; it was as though they knew too, the lake and river was polluted, [so] we will die in the afternoon sun. Let us be an example of what pollution can do.<br />
<br />
But, alas, it fell on blind eyes and deaf ears.&rdquo;<br />
<br />
Leases expire in 2013. What families get back is an area deeply contaminated with decades of industrial waste, clean up costs estimated in billions by Greenpeace workers.<br />
<br />
By comparison, government recently advertised for a contamination site coordinator &ndash; to head a fund of just $3 million &ndash; for the whole country. <br />
<br />
Reality behind political rhetoric claiming the environment as &ldquo;cornerstone&rdquo; to sustainable development seems alarmingly empty for a country dependent on exports and tourism being worth billions to the economy. <br />
<br />
&ldquo;I want this work to contribute to demystifying claims to New Zealand being clean, green and 100% natural,&rdquo; says Robertson, aiming an artistic assault at Kiwi propaganda.<br />
<br />
Much more could be at stake than a few billion dollars. Robertson seeks to remind corporates and locals alike of Ruaumoko - God of earthquakes and volcanoes, &ndash; and Papatuanuku&rsquo;s unborn child, stirring and kicking, eager to live up to the promise of its name signifying an earthquake scar, a reminder that Aotearoa sits balanced along the Pacific &ldquo;rim of fire&rdquo; with potential for sludge from deeply toxic dumping sites to be scattered far and wide from what is known as the Taupo volcanic plateau if more eruptions were to occur. <br />
<br />
As a daughter of Maui, Robertson contests &ldquo;the way things are&rdquo; recording what is left of a natural land, Maori cosmology now enveloping Western technology.<br />
<br />
&quot;It&#39;s my way of honouring those who have died,&quot; Robertson continues. &quot;Of making some sense of why so many friends and people I know from Kawerau died of cancer so young. As the list grows, so does my superstition. Is it me? Or something in the air?&quot;<br />
<br />
Interviewing local Waitangi Tribunal claimant Tomoirangi Fox, she asks him what was the one thing he wants people to think about, and the answer, as always with people of the land, is practical.<br />
<br />
&ldquo;Who,&rdquo; Fox asks, &ldquo;is going to clean it up?&rdquo;<br />
<br />
A question that lays a challenge to government promises for a &ldquo;triple bottom line&rdquo; &ndash; one that includes the environment &ndash;volcanic mountains hopefully remaining patient with the pace of Pakeha justice.
</p>
<p>
<em>Jason Brown</em>, April 2007<br />
<em>Edited Natalie Robertson,</em> June 2008<br />
</p>
<p>
LINKS<br />
http://www.natalierobertson.com/uncletasman/ <br />
&quot;Are We There Yet?&quot;: Natalie Robertson&#39;s Road Signs<br />
http://01sj.org<br />
</p>
<p>
&nbsp;
</p>
			</td>
		</tr>
					<tr>
				<td colspan="2" align="left" class="modifydate">
				Last Updated ( Jul 15, 2008 at 04:55 PM )
				</td>
			</tr>
					</table>
				<table align="center" style="margin-top: 25px;">
		<tr>
							<th class="pagenav_prev">
				<a href="../../86/85/index.html">
				&lt;Previous				</a>
				</th>
								<td width="50px">&nbsp;

				</td>
								<th class="pagenav_next">
				<a href="../../81/85/index.html">
				Next&gt;
				</a>
				</th>
						</tr>
		</table>
		</td>
          </tr>
          <tr>
            <td valign="top">              </td>
          </tr>
          <tr>
            <td valign="top"></td>
          </tr>
        </table></td>
      </tr>
    </table>   
    </td>
  </tr>
</table>
<table width="870" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td height="25">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right"><img src="../../../../templates/jh_isea/images/pigeondome.gif" width="242" height="176" /></div></td>
  </tr>
</table>
</body>
</html><!-- 1343872645 -->