<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>I-5 Passing - Mambo</title>
<meta name="title" content="I-5 Passing" />
<meta name="author" content="Administrator" />
<meta name="description" content="Mambo - the dynamic portal engine and content management system" />
<meta name="keywords" content="mambo, Mambo, Mambo, Mambo" />
<base href="" />
		<link rel="shortcut icon" href="../../../../images/favicon.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../../../templates/jh_isea/css/template_css.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<table width="825" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td width="258"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/topLeft.gif" alt="Top" width="223" height="261" /></td>
      </tr>
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/menuTop.gif" width="223" height="19" /></td>
      </tr>
      <tr>
        <td valign="top" style="padding-left: 37px"><table width="160" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" style="padding-left: 0px; padding-top: 0px;" background="../../../../templates/jh_isea/images/menuback1px.gif">			<table cellpadding="0" cellspacing="0" class="moduletable">
						<tr>
				<td>
				
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr align="left"><td><a href="../../../../mos/Frontpage/index.html" class="mainlevel" >Highlights</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/121/130/index.html" class="mainlevel" >Tickets</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/8/47/index.html" class="mainlevel" >Schedules</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/122/131/index.html" class="mainlevel" >Festival + Symposium Blog</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/13/102/index.html" class="mainlevel" >ISEA2006 Symposium</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/107/133/index.html" class="mainlevel" >ZeroOne San Jose Festival</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/10/52/index.html" class="mainlevel" >Events</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/111/121/index.html" class="mainlevel" >Exhibitions</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/14/49/index.html" class="mainlevel" id="active_menu">Artworks</a>

<div style="padding-left: 4px"><a href="../../../blogcategory/62/81/index.html" class="sublevel" >Interactive City</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/63/85/index.html" class="sublevel" >Community Domain</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/0/82/index.html" class="sublevel" >Pacific Rim artworks</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/65/84/index.html" class="sublevel" >Transvergence</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/66/126/index.html" class="sublevel" >Edgy Products</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/84/101/index.html" class="sublevel" >C4F3</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/126/135/index.html" class="sublevel" >Residencies</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/96/138/index.html" class="sublevel" >Invited Artworks</a></div>
</td></tr>
<tr align="left"><td><a href="../../../blogsection/13/48/index.html" class="mainlevel" >Artists</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/86/112/index.html" class="mainlevel" >Education</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/95/134/index.html" class="mainlevel" >Summits</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/160/index.html" class="mainlevel" >Workshops + Tours</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/147/189/index.html" class="mainlevel" >Travel</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/188/index.html" class="mainlevel" >Hotels</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/92/190/index.html" class="mainlevel" >Maps</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/65/index.html" class="mainlevel" >Sponsors</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/82/158/index.html" class="mainlevel" >Press Center</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/134/143/index.html" class="mainlevel" >Contact Us</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/156/169/index.html" class="mainlevel" >Volunteer</a></td></tr>
<tr align="left"><td><a href="../../../../component/option,com_search/index.html" class="mainlevel" >Search</a></td></tr>
</table>				</td>
			</tr>
			</table>
			</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/menuBottom.gif" width="223" height="138" /></td>
      </tr>
    </table>
  </td>
    <td width="567"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
         <td valign="top">			<table cellpadding="0" cellspacing="0" class="moduletable-none">
							<tr>
					<td>
					<img width="647" height="261" border="0" alt="ZeroOne San Jose / ISEA2006 artworks" src="../../../../images/stories/artworks1HeaderNEW.jpg" />					</td>
				</tr>
						</table>
		</td>
      </tr>
      <tr>
        <td height="889" valign="top" style="background: url(http://isea2006.sjsu.edu/templates/jh_isea/images/textBack.gif) repeat-y;padding-top: 45px;"><table width="520" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top">			<table class="contentpaneopen">
			<tr>
								<td class="contentheading" width="100%">
				I-5 Passing								</td>
							<td align="right" class="buttonheading">
			<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;do_pdf=1&amp;id=164', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');" title="PDF">
			<img src="../../../../templates/jh_isea/images/pdf_button.png" alt="PDF" align="middle" name="image" border="0" />			</a>
			</td>
							<td align="right" class="buttonheading">
				<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;task=view&amp;id=164&amp;Itemid=49&amp;pop=1&amp;page=0', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');" title="Print">
				<img src="../../../../templates/jh_isea/images/printButton.png" alt="Print" align="middle" name="image" border="0" />				</a>
				</td>
							<td align="right" class="buttonheading">
			<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;task=emailform&amp;id=164', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=400,height=250,directories=no,location=no');" title="E-mail">
			<img src="../../../../templates/jh_isea/images/emailButton.png" alt="E-mail" align="middle" name="image" border="0" />			</a>
			</td>
						</tr>
			</table>
			
		<table class="contentpaneopen">
					<tr>
				<td>
						<span>
			<a href="../../../category/14/65/49/index.html">Transvergence artworks</a>			</span>
							</td>
			</tr>
				<tr>
			<td width="70%" align="left" valign="top" colspan="2">
			<span class="small">
			Written by Administrator			</span>
			&nbsp;&nbsp;
			</td>
		</tr>
					<tr>
				<td valign="top" colspan="2" class="createdate">
				Feb 07, 2006 at 05:29 AM				</td>
			</tr>
					<tr>
			<td valign="top" colspan="2">
			<h2><a href="../../229/48/index.html"><span class="valiotsikko">Christiane Robbins</span></a></h2>
<h2><img class="borderedimage" src="../../../../images/artwork/I5bonsai8.jpg" border="0" alt="" title="I-5 Passing" width="350" height="466" />&nbsp;</h2> 
<p>
<em>I-5_Passing Project</em>, &copy;Robbins, Jetztzeit Studios, 2001-08.
<br />
<br />
We live in the beginning of a &ldquo;new&rdquo; century in which the public
sphere in California has shrunk, been compressed, and themed to the
point of annihilation of any fixed point of authenticity. The current
institutionalized regional development of the I-5 Freeway - the
connective tissue between Los Angeles and San Francisco - is narrowing
the bandwidth of cultural programming, social interaction and
environmental concerns to that of lifestyle, market dynamics and
branding. The next paradigm of social space, just now emerging, is a
broadened spectrum ranging from the banal to the ecstatic &ndash; from
contested visions of suburban utopia to suburban dystopia.
<br />
<br />
We find ourselves now living in a &ldquo;flat-space&rdquo; where 20th century
notions of living have taken on wholly different and contested
meanings. Whereas &ldquo;flat space&rdquo; once evinced a topographical description
of the central valley, it now references an intensified agglomeration
of big box stores, highway infrastructure and parking lots in which
space is corporate, Tyvek wrapped and hyperefficient.
</p>
<em><em> </em></em>
<br />
<br />
It is a space now teeming with powercenters, carcooning, dashboard dining and fastfood
<br />
clusters, which dot the edges of quaint 20th century towns and clusters along I-5.
<br />
The question soon becomes &ndash; where does one find oneself amidst the
multi-channel, hermetically sealed, and wired living fueled by such an
existence. This &ldquo; main street of California &rdquo; finds itself in a
cultural moment hinged on the precipice of an unprecedented and
dramatic upheaval. One could easily state that it is a moment which may
become unrecognizable in the next&hellip;. a moment from which the future has
been launched. This is a future that is strangely familiar but remains
a work-in-progress. It is a future which houses residents alien to
themselves &ndash; subjects on the run but stuck in traffic &ndash; seemingly going
nowhere in particular &ndash; but not quite standing still.
<br />
<br />
<br />
The strategy of the installation of I-5_Passing identifies fragile
signs of regional cultural signifiers and changes within the
environment and engages them as programmatic drivers. My aesthetic
inquiry posits questions such as what lies beyond and between our
collective overexposed, telematic imaginary? To me, there is little
progress being gained in the current efforts of re-purposing
re-theming, or refacading the topography.
<br />
<br />
This installation is a hybrid digital media and locative project
utilizing the intersections and commonalities of physical and virtual
spaces created along I-5. This installation consisting of projected
video and audio is more or less a reverie, a collaged flow of live
action video footage. This is viewed in tandem with seemingly
unconnected fragments generated from an animation of still images of
the iconic banal Food Marts dotting I-5. A custom-designed software
program renders a visualization of alternating data streams of
<br />
pollution levels such as Carbon Dioxide, NOX, Sulfur Dioxide, and
Ozone which generates this live animation. Sensors are placed
periodically along the corridor of I-5 itself and levels transmitted
wirelessly to the main server, which then serves as the primary
distribution point. These levels are detected and transmitted hourly.
<br />
<br />
In this landscape of extreme and rapid prototyping of (sub)urban
development there is no whole, as such. Each behavior appears to be in
aggressive competition or symbiotic relation to one another. I see
evolution through re-thinking &ndash; rethinking our relationship to the
swarming of hyperurbanism and psyco-geographic dynamics. The strategies
inherent in I-5 _Passing (re)imagines a public realm of &ldquo;passing
&ldquo;erupting out culture(s) of productive frictions &hellip; and fictions.
			</td>
		</tr>
					<tr>
				<td colspan="2" align="left" class="modifydate">
				Last Updated ( Jul 15, 2008 at 05:12 PM )
				</td>
			</tr>
					</table>
				<table align="center" style="margin-top: 25px;">
		<tr>
							<th class="pagenav_prev">
				<a href="../../167/49/index.html">
				&lt;Previous				</a>
				</th>
								<td width="50px">&nbsp;

				</td>
								<th class="pagenav_next">
				<a href="../../175/49/index.html">
				Next&gt;
				</a>
				</th>
						</tr>
		</table>
		</td>
          </tr>
          <tr>
            <td valign="top">              </td>
          </tr>
          <tr>
            <td valign="top"></td>
          </tr>
        </table></td>
      </tr>
    </table>   
    </td>
  </tr>
</table>
<table width="870" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td height="25">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right"><img src="../../../../templates/jh_isea/images/pigeondome.gif" width="242" height="176" /></div></td>
  </tr>
</table>
</body>
</html><!-- 1343865657 -->