<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Screens Exposing Employed Narratives (SEEN) - Mambo</title>
<meta name="title" content="Screens Exposing Employed Narratives (SEEN)" />
<meta name="author" content="Steve Dietz" />
<meta name="description" content="Mambo - the dynamic portal engine and content management system" />
<meta name="keywords" content="mambo, Mambo, Mambo, Mambo" />
<base href="" />
		<link rel="shortcut icon" href="../../../../images/favicon.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../../../templates/jh_isea/css/template_css.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<table width="825" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td width="258"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/topLeft.gif" alt="Top" width="223" height="261" /></td>
      </tr>
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/menuTop.gif" width="223" height="19" /></td>
      </tr>
      <tr>
        <td valign="top" style="padding-left: 37px"><table width="160" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" style="padding-left: 0px; padding-top: 0px;" background="../../../../templates/jh_isea/images/menuback1px.gif">			<table cellpadding="0" cellspacing="0" class="moduletable">
						<tr>
				<td>
				
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr align="left"><td><a href="../../../../mos/Frontpage/index.html" class="mainlevel" >Highlights</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/121/130/index.html" class="mainlevel" >Tickets</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/8/47/index.html" class="mainlevel" >Schedules</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/122/131/index.html" class="mainlevel" >Festival + Symposium Blog</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/13/102/index.html" class="mainlevel" >ISEA2006 Symposium</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/107/133/index.html" class="mainlevel" >ZeroOne San Jose Festival</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/10/52/index.html" class="mainlevel" >Events</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/111/121/index.html" class="mainlevel" >Exhibitions</a></td></tr>
<tr align="left"><td><a href="../../../blogsection/14/49/index.html" class="mainlevel" >Artworks</a>

<div style="padding-left: 4px"><a href="../../../blogcategory/62/81/index.html" class="sublevel" >Interactive City</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/63/85/index.html" class="sublevel" id="active_menu">Community Domain</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/0/82/index.html" class="sublevel" >Pacific Rim artworks</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/65/84/index.html" class="sublevel" >Transvergence</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/66/126/index.html" class="sublevel" >Edgy Products</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/84/101/index.html" class="sublevel" >C4F3</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/126/135/index.html" class="sublevel" >Residencies</a></div>
<div style="padding-left: 4px"><a href="../../../blogcategory/96/138/index.html" class="sublevel" >Invited Artworks</a></div>
</td></tr>
<tr align="left"><td><a href="../../../blogsection/13/48/index.html" class="mainlevel" >Artists</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/86/112/index.html" class="mainlevel" >Education</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/95/134/index.html" class="mainlevel" >Summits</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/160/index.html" class="mainlevel" >Workshops + Tours</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/147/189/index.html" class="mainlevel" >Travel</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/188/index.html" class="mainlevel" >Hotels</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/92/190/index.html" class="mainlevel" >Maps</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/0/65/index.html" class="mainlevel" >Sponsors</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/82/158/index.html" class="mainlevel" >Press Center</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/134/143/index.html" class="mainlevel" >Contact Us</a></td></tr>
<tr align="left"><td><a href="../../../blogcategory/156/169/index.html" class="mainlevel" >Volunteer</a></td></tr>
<tr align="left"><td><a href="../../../../component/option,com_search/index.html" class="mainlevel" >Search</a></td></tr>
</table>				</td>
			</tr>
			</table>
			</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><img src="../../../../templates/jh_isea/images/menuBottom.gif" width="223" height="138" /></td>
      </tr>
    </table>
  </td>
    <td width="567"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
         <td valign="top">			<table cellpadding="0" cellspacing="0" class="moduletable-none">
							<tr>
					<td>
					<img width="647" height="261" border="0" alt="ZeroOne San Jose / ISEA2006 artworks" src="../../../../images/stories/artworks1HeaderNEW.jpg" />					</td>
				</tr>
						</table>
		</td>
      </tr>
      <tr>
        <td height="889" valign="top" style="background: url(http://isea2006.sjsu.edu/templates/jh_isea/images/textBack.gif) repeat-y;padding-top: 45px;"><table width="520" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top">			<table class="contentpaneopen">
			<tr>
								<td class="contentheading" width="100%">
				Screens Exposing Employed Narratives (SEEN)								</td>
							<td align="right" class="buttonheading">
			<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;do_pdf=1&amp;id=56', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');" title="PDF">
			<img src="../../../../templates/jh_isea/images/pdf_button.png" alt="PDF" align="middle" name="image" border="0" />			</a>
			</td>
							<td align="right" class="buttonheading">
				<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;task=view&amp;id=56&amp;Itemid=85&amp;pop=1&amp;page=0', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=640,height=480,directories=no,location=no');" title="Print">
				<img src="../../../../templates/jh_isea/images/printButton.png" alt="Print" align="middle" name="image" border="0" />				</a>
				</td>
							<td align="right" class="buttonheading">
			<a href="javascript:void window.open('http://isea2006.sjsu.edu/index2.php?option=com_content&amp;task=emailform&amp;id=56', 'win2', 'status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=400,height=250,directories=no,location=no');" title="E-mail">
			<img src="../../../../templates/jh_isea/images/emailButton.png" alt="E-mail" align="middle" name="image" border="0" />			</a>
			</td>
						</tr>
			</table>
			
		<table class="contentpaneopen">
					<tr>
				<td>
							<span>
				<a href="../../../section/14/85/index.html">Artworks</a> - 				</span>
						<span>
			<a href="../../../category/14/63/85/index.html">Community Domain artworks</a>			</span>
							</td>
			</tr>
				<tr>
			<td width="70%" align="left" valign="top" colspan="2">
			<span class="small">
			Written by Steve Dietz			</span>
			&nbsp;&nbsp;
			</td>
		</tr>
					<tr>
				<td valign="top" colspan="2" class="createdate">
				Dec 29, 2005 at 11:04 AM				</td>
			</tr>
					<tr>
			<td valign="top" colspan="2">
			<h2><a href="../../124/48/index.html">Osman Khan</a> and <a href="../../512/48/index.html">Omar Khan </a></h2>  
<pre>
Project Assistants: Cesar Cedano, Alice Ko, Drura Parish, Matt Zinski
</pre>
<p>
&nbsp;SEEN-Fruits of our Labor deals with projected hopes, the American Dream, (in)visibility and the global marketplace. It addresses the current US debate on immigration which, in our view, is blind to people&#39;s actual needs, shortsighted in its solutions and myopic in its framing of what it means to be an American. SEEN expands this debate and reflects on the real impacts of globalization on people&#39;s sense of self worth. Our project asks members of three communities that make up San Jose&#39;s Labor needs -- Silicon Valley&#39;s tech workers, undocumented service workers and outsourced call center workers -- one question: What is the fruit of your labor? Their responses are displayed back to the general public on a 4&#39;x8&#39; infrared LED screen whose content is visible only through digital capture devices (cell phone cameras, digital cameras and DVcams etc.) used by the audience. 
</p>
<p>
The relationship that binds these disparate communities is that they labor in San Jose. Their reliance on the city&#39;s economy is clear but their understanding of this mutual engagement is less obvious. To address this SEEN- Fruits of our Labor asks people what they see as the purpose of their labor? Is it the acquisition of wealth? Luxury? Class? Self-improvement? Subsistence? Is it a means or an end? <br />
<br />
The commodification of labor through globalization has allowed an unprecedented population to engage in the global market place. The results are both exploitative and liberating. Not judging the nature of the work that people do the project will survey the different communities of San Jose to get a response to the rhetorical question: what is the fruit of your labor? Are there differences to be found between the communities, income levels, occupations or do we all strive for similarly idealistic goal? These responses will be put into a database and projected onto a specially designed screen. <br />
<br />
SEEN was placed in front of the San Jose Museum of Art facing Cesar Chavez Park (Aug7-14 2006). Standing at 8&#39; tall and 4&#39; wide the black acrylic screen&#39;s projection is invisible to the naked eye. However electronic CCD apparatus are able to capture this spectrum, thereby allowing the projection to be seen and captured by digital cameras, video cameras, phone cams, and the like. It is only through the digital apparatus that the projection can be perceived. The audience is<br />
encouraged to photograph and share these messages: the fruits of other&#39;s labors. What was previously hidden from your view is revealed through the technical device. You become complicit in the most personal way to this exchange.
</p>
			</td>
		</tr>
					<tr>
				<td colspan="2" align="left" class="modifydate">
				Last Updated ( Jul 15, 2008 at 06:41 PM )
				</td>
			</tr>
					</table>
				<table align="center" style="margin-top: 25px;">
		<tr>
							<th class="pagenav_prev">
				<a href="../../57/85/index.html">
				&lt;Previous				</a>
				</th>
								<td width="50px">&nbsp;

				</td>
								<th class="pagenav_next">
				<a href="../../55/85/index.html">
				Next&gt;
				</a>
				</th>
						</tr>
		</table>
		</td>
          </tr>
          <tr>
            <td valign="top">              </td>
          </tr>
          <tr>
            <td valign="top"></td>
          </tr>
        </table></td>
      </tr>
    </table>   
    </td>
  </tr>
</table>
<table width="870" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td height="25">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right"><img src="../../../../templates/jh_isea/images/pigeondome.gif" width="242" height="176" /></div></td>
  </tr>
</table>
</body>
</html><!-- 1343869880 -->