<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Mambo</title>
<meta name="description" content="Mambo - the dynamic portal engine and content management system" />
<meta name="keywords" content="mambo, Mambo, Mambo, Mambo" />
<base href="" />
		<link rel="shortcut icon" href="../../../images/favicon.ico" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../../templates/jh_isea/css/template_css.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<table width="825" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td width="258"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><img src="../../../templates/jh_isea/images/topLeft.gif" alt="Top" width="223" height="261" /></td>
      </tr>
      <tr>
        <td valign="top"><img src="../../../templates/jh_isea/images/menuTop.gif" width="223" height="19" /></td>
      </tr>
      <tr>
        <td valign="top" style="padding-left: 37px"><table width="160" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" style="padding-left: 0px; padding-top: 0px;" background="../../../templates/jh_isea/images/menuback1px.gif">			<table cellpadding="0" cellspacing="0" class="moduletable">
						<tr>
				<td>
				
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr align="left"><td><a href="../../../mos/Frontpage/index.html" class="mainlevel" >Highlights</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/121/130/index.html" class="mainlevel" >Tickets</a></td></tr>
<tr align="left"><td><a href="../../../content/blogsection/8/47/index.html" class="mainlevel" >Schedules</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/122/131/index.html" class="mainlevel" >Festival + Symposium Blog</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/13/102/index.html" class="mainlevel" >ISEA2006 Symposium</a>

<div style="padding-left: 4px"><a href="../../../content/blogcategory/105/30/index.html" class="sublevel" >Themes</a></div>
<div style="padding-left: 4px"><a href="../../../content/blogcategory/135/144/index.html" class="sublevel" >Papers + Panels</a></div>
<div style="padding-left: 4px"><a href="../../../content/blogcategory/165/175/index.html" class="sublevel" >Moderator Bios</a></div>
<div style="padding-left: 4px"><a href="../../../content/blogcategory/136/145/index.html" class="sublevel" >Poster Sessions</a></div>
<div style="padding-left: 4px"><a href="../../../content/blogcategory/137/146/index.html" class="sublevel" >Artist Presentations</a></div>
<div style="padding-left: 4px"><a href="../../../content/blogcategory/157/170/index.html" class="sublevel" >Symposium Schedule</a></div>
<div style="padding-left: 4px"><a href="../../../content/blogcategory/182/199/index.html" class="sublevel" >ISEA re:mote</a></div>
<div style="padding-left: 4px"><a href="../index.html" class="sublevel" id="active_menu">Online Forum, April 24 - May 29</a>

<div style="padding-left: 8px"><a href="../../../content/blogcategory/138/147/index.html" class="sublevel" >About the Forum</a></div>
</div>
<div style="padding-left: 4px"><a href="../../../content/blogcategory/158/177/index.html" class="sublevel" >Publications</a></div>
<div style="padding-left: 4px"><a href="../../../content/blogcategory/193/210/index.html" class="sublevel" >Keynotes</a></div>
<div style="padding-left: 4px"><a href="../../../content/blogcategory/194/209/index.html" class="sublevel" >Rapporteur</a></div>
</td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/107/133/index.html" class="mainlevel" >ZeroOne San Jose Festival</a></td></tr>
<tr align="left"><td><a href="../../../content/blogsection/10/52/index.html" class="mainlevel" >Events</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/111/121/index.html" class="mainlevel" >Exhibitions</a></td></tr>
<tr align="left"><td><a href="../../../content/blogsection/14/49/index.html" class="mainlevel" >Artworks</a></td></tr>
<tr align="left"><td><a href="../../../content/blogsection/13/48/index.html" class="mainlevel" >Artists</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/86/112/index.html" class="mainlevel" >Education</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/95/134/index.html" class="mainlevel" >Summits</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/0/160/index.html" class="mainlevel" >Workshops + Tours</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/147/189/index.html" class="mainlevel" >Travel</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/0/188/index.html" class="mainlevel" >Hotels</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/92/190/index.html" class="mainlevel" >Maps</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/0/65/index.html" class="mainlevel" >Sponsors</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/82/158/index.html" class="mainlevel" >Press Center</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/134/143/index.html" class="mainlevel" >Contact Us</a></td></tr>
<tr align="left"><td><a href="../../../content/blogcategory/156/169/index.html" class="mainlevel" >Volunteer</a></td></tr>
<tr align="left"><td><a href="../../option,com_search/index.html" class="mainlevel" >Search</a></td></tr>
</table>				</td>
			</tr>
			</table>
						<table cellpadding="0" cellspacing="0" class="moduletableloginform">
							<tr>
					<th valign="top">
					Login Form					</th>
				</tr>
							<tr>
				<td>
					<form action="../../../index.html" method="post" name="login" >
		<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td>
		Username		<br />
		<input name="username" type="text" class="inputbox" alt="username" size="10" />
		<br />
		Password		<br />
		<input type="password" name="passwd" class="inputbox" size="10" alt="password" />
		<br />
		<input type="checkbox" name="remember" class="inputbox" value="yes" alt="Remember Me" /> 
		Remember me		<br />
		<input type="hidden" name="option" value="login" />
		<input type="submit" name="Submit" class="button" value="Login" />
		</td>
	</tr>
	<tr>
		<td>
		<a href="http://isea2006.sjsu.edu/index.php?option=com_registration&amp;task=lostPassword">
		Password Reminder		</a>
		</td>
	</tr>
			<tr>
			<td>
			No account yet?			<a href="http://isea2006.sjsu.edu/index.php?option=com_registration&amp;task=register">
			Create one			</a>
			</td>
		</tr>
			</table>
		
	<input type="hidden" name="op2" value="login" />
	<input type="hidden" name="lang" value="en" />
	<input type="hidden" name="return" value="http://isea2006.sjsu.edu/component/option,com_simpleboard/func,faq/" />
	<input type="hidden" name="message" value="1" />
	</form>
					</td>
			</tr>
			</table>
			</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><img src="../../../templates/jh_isea/images/menuBottom.gif" width="223" height="138" /></td>
      </tr>
    </table>
  </td>
    <td width="567"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
         <td valign="top">			<table cellpadding="0" cellspacing="0" class="moduletable-none">
							<tr>
					<td>
					<img width="647" height="261" border="0" alt="ZeroOne San Jose / ISEA2006 ISEA2006 symposium" src="../../../images/stories/symposiumHeaderNEW.gif" />					</td>
				</tr>
						</table>
		</td>
      </tr>
      <tr>
        <td height="889" valign="top" >			<table cellpadding="0" cellspacing="0" class="moduletableforum">
							<tr>
					<th valign="top">
					Forum					</th>
				</tr>
								<tr>
					<td>
					<p><strong>Welcome to the ISEA2006 online forum.</strong></p><p>The Pacific Rim forum dates will be announced in the very near future.</p><p>All other forums are now closed.&nbsp; They are available for viewing but no new postings may be added.&nbsp;</p><p><a href="../../../content/blogcategory/135/144/index.html">[Paper Abstracts]</a></p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>					</td>
				</tr>
						</table>
		<table width="520" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><link rel="stylesheet" href="../../../components/com_simpleboard/template/default/forum.css" type="text/css" />
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
   <tr>
     <td align="center">
       <table border="0" width="100%">
         <tr>
   <td align="right" >
    <form action='http://isea2006.sjsu.edu/component/option,com_simpleboard/func,search/' name='searchSB' method='post'>
                <input class="inputbox" type="text" name="searchword" size="15" value="search forum"
               onblur="if(this.value=='') this.value='search forum';"
               onfocus="if(this.value=='search forum') this.value='';" />
    </form>
   </td>
</tr>
         <tr>
           <td align="center">
             <b><font size="2">ISEA2006 Online Forum April 24 - May 29 2006</font></b>
             &nbsp;           </td>
         </tr>
       </table>
       <br />
<div align="center">

         <a href="../index.html">
         home         </a>
         | <a href="index.html">
         help         </a>
		          </div>
     </td>
   </tr>
   <tr>
      <td>
         <table width="100%" cellspacing="1" cellpadding="3" class="flat" style="text-align: left;"><tr><td>
         <p>
         <strong>The TSMF Team</strong><br />
         The Simpleboard development team consists of:<br />
         Jan de Graaff (also Project Admin), Tomislav Ribicic, Arno Zijlstra, Niels Vandekeybus, Iosif Chatzimichail, Jon Langevin, Kathy Strickland and Thomas Despoix.
         </p>
         <p><a name="boardcode"></a>
         <strong>What is boardcode?</strong><br />
         Boardcode are special tags that will allow you to format your messages.  Currently, SimpleBoard supports links, bold, italic, bold, "quoted" text, img, size, list and colored text.  The tags are used as follows:<br /><br />


         [b]Bold[/b] will produce <strong>Bold</strong><br /><br />
         [i]Italic[/b] will produce <em>Italic</em><br /><br />
         [u]Underline[/u] will produce <u>Underline</u><br /><br />
    [size=4]Size[/size] will produce <font size="4">Size</font><br /><br />
    [color=#FF0000]Red[/color] will produce <font color="red">Red</font><br /><br />
    [img=150]link to image[/img] will produce a image with a width off 150 pixels.<br />
    <u>Please remember you can go to a maximum width of 499 pixels.</u><br /><br />
    [ul][li]item 1[/li][/ul] will produce an unordered list, but please keep in mind you'll have to insert <br />
    the [li][/li] tags around the list items. See example below.<br />
    </p></td></tr><tr><td>
    <table width="250" cellspacing="2" cellpadding="2" border="0">
      <tr><!-- Row 1 -->
          <td>[ul][li]item 1[/li]<br />
               [li]item 2[/li]<br />
         [li]item 3[/li][/ul]</td>
          <td><ul><li>item 1</li>
                      <li>item 2</li>
                 <li>item 3</li></ul></td>
     </tr></table></td></tr><tr><td>
     The [ol] tag will produce a similar list, but ordered (with numbers):<br />
         <table width="250" cellspacing="2" cellpadding="2" border="0">
           <tr><!-- Row 1 -->
               <td>[ol][li]item 1[/li]<br />
                    [li]item 2[/li]<br />
              [li]item 3[/li][/ol]</td>
               <td><ol><li>item 1</li>
                           <li>item 2</li>
                      <li>item 3</li></ol></td>
     </tr></table></td></tr><tr><td>
         [url]http://www.yahoo.com[/url] will produce <a href="http://www.yahoo.com">http://www.yahoo.com</a><br /><br />
         [url=http://www.yahoo.com]Yahoo![/url] will produce <a href="http://www.yahoo.com">Yahoo!</a><br /><br />
         [quote]Quote[/quote] will produce
         <div class="sb_quote">Quote</div><br />
         [code]some code here[/code] will produce<br />
         <table width="90%" cellspacing="1" cellpadding="3" border="0" align="center"><tr><td><b>Code:</b></td></tr><tr><td class="sb_code">
<pre>
//Some code here
while ($adversary=='Neo')
{
   fork(agent_Smith);
}
</pre></td></tr></table>
         <table border="0"><tr><td colspan="3">
         <strong>About the Forum Component (for Mos 4.5+)</strong><br />
         This forum is based on the Simpleboard Forum originally written by <a href="http://www.joshlevine.net/simpleboard/" target="_blank">Josh Levine</a>.<br />
         It has been extended, enhanced and integrated as a component into Mambo Open Source by Jan de Graaff.<br /><br />
         Please visit the home of the Forum Component at the <a href="http://tsmf.jigsnet.com" target="_blank">Two Shoes Module Factory</a> website.<br /><br />
         <strong>Special Thanks:</strong><br />
         </td></tr>
         <tr><td><a href="http://www.tmjg-marketing.com" target="_blank">Toni Brännlund</a></td><td>::</td><td>For helping me out with the <a href="http://tsmf.jigsnet.com" target="_blank">Two Shoes Module Factory website</a>.</td></tr>
         <tr><td><a href="http://www.phil-taylor.com" target="_blank">Phil Taylor</a></td><td>::</td><td>For helping me out with some of the basics of component writing.</td></tr>
         <tr><td>Andrew Eddie</td><td>::</td><td>For giving me a jumpstart on rewriting the Admin Area as a MOS compliant backend.</td></tr>
         <tr><td><a href="http://www.smarterdocuments.com" target="_blank">Andrew Fletcher</a></td><td>::</td><td>For helping me out with the Review code and the Language Support.</td></tr>
         <tr><td>Dave McDonnell</td><td>::</td><td>For helping us out with the Safe Mode problems we had.</td></tr>
         <tr><td>Jick</td><td>::</td><td>For giving a great start on the Discuss Mosbot.</td></tr>
         </table>
         </td></tr></table>
      </td>
   </tr>
</table><div class="sb_footer"><br/>Simpleboard Forum Component 1.1.0 Stable<br/><a href="http://www.tsmf.net" target="_blank">Two Shoes Mambo Factory</a> </div></td>
          </tr>
          <tr>
            <td valign="top">              </td>
          </tr>
          <tr>
            <td valign="top"></td>
          </tr>
        </table></td>
      </tr>
    </table>   
    </td>
  </tr>
</table>
<table width="870" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td height="25">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="right"><img src="../../../templates/jh_isea/images/pigeondome.gif" width="242" height="176" /></div></td>
  </tr>
</table>
</body>
</html><!-- 1343866374 -->